<p class="title">Storyline Editor</p>
<ul class="inline-list">
  <li><a class="preview">Preview project</a></li>
  <li><a class="load">Load project</a></li>
  <li><a class="save">Save project</a></li>
</ul>

