body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 36px;
	background: #999;
	border-bottom: 1px solid #333;
}

#storyline-nav {
	position: absolute;
	
	width: 280px;
	background: #cecece;
	border-right: #666;
}

#editor {
	margin-left: 300px;
}