body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, li {
	margin: 0;
	list-style-type: none;
}


#projects li {
	cursor: pointer;
}
#projects li:hover,
#projects li:focus {
	color: #000;
	text-decoration: underline;
}


/*
 * header
 */
header {
	width: 100%;
	background: #FFF;
	border-bottom: 1px solid #333;
	position: relative;
	height: 49px;
}
header .title {
	cursor: pointer;
	font-size: 1.35em;
	padding: 7px 0 0 10px;
}
header .logo {
	display: block;
	float: left;
	width: 285px;
	height: 36px;
	text-indent: -9999px;
	background: url('/img/logo.png') 4px 1px no-repeat;
}
header .title:hover,
header .title:focus {
	text-decoration: underline;
}
header .text {
	display: block;
	float: left;
	padding-top: 4px;
}
header a {
	color: #FFF;
	padding: 6px 8px;
	background: #4a91bd;
}
header a:hover,
header a:focus {
	color: #FFF;
	background: #007295;
	text-decoration: underline;
}

header ul {
	position: absolute;
	top: 5px;
	right: 5px;
}
header .inline-list li {
	margin-left: 10px;
}

/*
 * Nav
 */

#nav-storyline {
	position: absolute;
	width: 280px;
	height: 100%;
	background: #efefef;
	border-right: 1px solid #999;
}
#nav-storyline ul {
	margin: 0;
	padding: 0;
	background: #FFF;
}

#nav-storyline li {
	padding: 3px 3px 3px 10px;
	cursor: pointer;
	font-size: 0.875em;
	border-bottom: 1px solid #f3f3f3;
}
#nav-storyline li:hover {
	background: #f1f1f1;
	color: #003366;
	text-decoration: underline;
}
#nav-storyline ul.events li {
	padding-left: 20px;
}

#nav-storyline .storyline {
	padding: 8px 3px 8px 10px;
	font-weight: bold;
}






/*
 * Editor
 */

#editor {
	margin-left: 300px;
}
#editor h2 {
	font-size: 1.3em;
	margin: 10px 0 0 0;
	padding: 0;
}
#editor label {
	font-size: 0.8em;
	margin: 10px 0 0 0;
	padding: 0;
	display: block;
}
#editor input,
#editor textarea {
	clear: both;
	width: 420px;
	padding: 3px;
	font-size: 1em;
}
#editor .event-iskey {
	position: relative;
}
#editor .event-iskey input {
	position: absolute;
	top: 2px;
	left: 95px;
	padding: 3px;
}
#editor textarea {
	height: 220px;
}
#editor select {
	width: 420px;
}
#editor #project-submit {
	width: 160px;
	clear: both;
	margin-bottom: 30px;
	color: #FFF;
	padding: 16px;
	border: 0;
	background: #4a91bd;
}
#editor #project-submit:hover,
#editor #project-submit:focus {
	color: #FFF;
	background: #007295;
	text-decoration: underline;
}
.fi-folder-add, .fi-upload {
	padding: 0 4px 0 0;
}
#editor .storyline-image, 
#editor .event-image {
	width: 320px;
	height: 240px;
}
#editor .storyline-image img, 
#editor .event-image img{
	max-width: 100%;
	max-height: 100%;
}
#storyline-edit-newsitems input,
#event-edit-newsitems input {
	width: 20px;
}