<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="/styles/normalize.css">
        <link rel="stylesheet" href="/styles/foundation.min.css">
        <link rel="stylesheet" href="/styles/foundation-icons.css">
        <link rel="stylesheet" href="/styles/app.css">
        <script>var newshackHost = '{{ newshackHost }}';</script>
        <script src="/components/modernizr/modernizr.js"></script>
    </head>

    <script data-main="/app/app.js" src="/components/require/require.js"></script>

    </body>
</html>
