<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="/styles/app.css">
        <script src="components/modernizr/modernizr.js"></script>
    </head>

        {{{body}}}

        <script type="text/html" id="default-template">
            <h1>Hello Backbone</h1>
        </script>

        <script src="components/jquery/dist/jquery.js"></script>
        <script src="components/underscore/underscore.js"></script>
        <script src="components/backbone/backbone.js"></script>

        <!-- Application -->
        <script src="app/app.js"></script>

        <!-- Application views -->
        <script src="app/views/default.js"></script>

        <!-- Application models-->
        <!--<script src="app/models/*.js"></script>-->

        <!-- Application router / loader -->
        <script src="app/router.js"></script>

    </body>
</html>
